.container {
    .search {
        &__searchBar {
            @include flex-center;
            margin: 0 auto;
            position: relative;

            input {
                width: 100%;
                padding: 15px 10px;
                border: none;
                border-radius: 5px;
                @include box-shw;
                background-color: $bg-card-and-search-bar;
            }

            .search-icon {
                position: absolute;
                right: 0;
                background: $bg-card-and-search-bar;
                width: 35px;
                margin-right: 5px;
                padding-left: 10px;
            }
        }

        &__searchTags {
            padding-top: $space-between-section;

            .tags {
                display: none;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                &__itemTag {
                    @include flex-center;
                    width: fit-content;
                    padding: 5px 15px;
                    background: $color-blue;
                    color: #f1f1f1;
                    border-radius: 5px;

                    p {
                        margin-bottom: 2px;
                    }

                    button {
                        @include flex-center;
                        margin-left: 20px;
                    }
                }

                padding-bottom: $space-between-section - 10;
            }

            .searchByTagButtons {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                justify-content: start;

                &__button {
                    text-align: left;
                    padding: 20px;
                    width: 25vw;
                    min-width: 137px;
                    max-width: 200px;
                    border-radius: 5px;
                    font-family: Lato;
                    font-size: 16px;
                    color: #f1f1f1;
                    display: flex;
                    position: relative;

                    p {
                        text-align-last: left;
                    }

                    img {
                        position: absolute;
                        right: 15px;
                        top: 42%;
                    }
                }

                &__button--ingredients {
                    background: $color-blue;
                }

                &__button--appliances {
                    background: $color-success;
                }

                &__button--utensils {
                    background: $color-danger;
                }
            }
        }
    }
}